body{
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
  margin:0%;
  padding: 20px;
}
.card-container {
  position: relative
  flex-direction: row;
  display: flex;
  gap: 10px;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.card{
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h1{
  font-family: "inter";
  font-style:"italic"
  font-size: 80px;
  font-weight:  normal;
  transition: 1s ease;
}
p {
  font-family: "inter";
  font-size: 25px;
  font-weight: normal
  text-transform: uppercase;
  margin-top: -10px;
}
footer {
  background-color: #333; /* Dark background */
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px; /* Space above footer */
}
footer a {
  color: lightblue;
  text-decoration: none;
}
.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Bigger shadow on hover */
  transform: scale(1.05); /* Slight zoom */
  transition: all 0.3s ease; /* Smooth transition */
}
.card img {
  width: 100%; /* Full width of card */
  max-width: 150px; /* Limit size */
  height: auto; /* Maintain aspect ratio */
}
header[
font-family: 'Inter', sans-serif;
font-sstyle: italic;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 2em;
  font-weight: bold;

]